@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */


/* .body-login {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
}  */

.form-login{
    width: auto;
    min-height: 700px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #FAA31B 50%,#EF4444 50%);
}

.con-login{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

.header-register{
    margin: 2% 25% 10% 25%;
    text-align: center;
    background-color: #a2eed7;
}

.header-login{
    margin: 2% 25% 10% 25%;
    text-align: center;
    
}

.h2-login{
    font-size: 200%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

.p-login {letter-spacing: 0.05em;}

.input-item {
    background: #fff;
    color: #333;
    padding: 13px 0px 15px 13px;
    border-radius: 5px 0px 0px 5px;
}

.input-item1 {
    background: #fff;
    color: #333;
    padding: 13px 0px 15.5px 13px;
    border-radius: 5px 0px 0px 5px;
}

#eye {
    background: #fff;
    color: #333;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}

.form-input{
    width: 248px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    padding-top:16px;
    
    font-size: 16px;
    font-family: 'Vendora', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
#txt-input{width: 250px;}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.button-login {
    display: inline-block;
    color: #252537;
    
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

.frgt-pass {background: transparent;}

.sign-up {background: #ec9cdc;}


@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}